@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.action-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  height: 50px;
  padding: 10px auto;
  border-radius: 4px;
  border: 0px;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.action-button:hover, .action-button:focus {
  background-color: #188ce8;
}

.action-button__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  margin-bottom: 30px;
  color: #212121;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.social-list__icon {
  width: 20px;
  height: 20px;
}

.social-list__item {
  margin-left: 10px;
}

.social-list__item:first-child {
  margin-left: 0;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-list__link--gray-fill {
  fill: #afb1b8;
  background-color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link--gray-fill:hover, .social-list__link--gray-fill:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.social-list__link--white-fill {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link--white-fill:hover, .social-list__link--white-fill:focus {
  background-color: #2196f3;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .page-header__container {
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .page-header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.page-header__nav-links {
  list-style-type: none;
  display: block;
  margin-bottom: auto;
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .page-header__nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__nav-links {
    margin-left: 93px;
  }
}

.page-header__nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-address {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (min-width: 768px) {
  .header-address {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .header-address {
    margin-left: 308px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .header-address__item:first-child {
    margin-top: 32px;
  }
}

@media screen and (min-width: 768px) {
  .header-address__item {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-address__item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .header-address__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header-address__item:last-child {
    margin-left: 30px;
  }
}

.header-address__icon {
  fill: #757575;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address__link:hover .header-address__icon,
.header-address__link:focus .header-address__icon {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .header-address__icon {
    display: none;
  }
}

.header-address__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .header-address__link {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (max-width: 767px) {
  .header-address__link--large {
    font-size: 34px;
    line-height: 1.17;
  }
}

.header-address__link:hover, .header-address__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-address__link {
    font-size: 12px;
    line-height: 1.16;
  }
}

.page-header__link {
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__link:hover, .page-header__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .page-header__link {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .page-header__link--active {
    position: relative;
    color: #2196f3;
  }
  .page-header__link--active::after {
    position: absolute;
    display: block;
    content: "";
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

@media screen and (max-width: 767px) {
  .page-header__item {
    margin-top: 32px;
  }
}

@media screen and (min-width: 768px) {
  .page-header__item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .page-header__item:first-child {
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .page-header__item:first-child {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 48px 40px;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  .mobile-menu.is-open {
    opacity: 1;
    pointer-events: auto;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-icon {
  width: 40px;
  height: 40px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #212121;
}

.menu-button:hover .menu-icon,
.menu-button:focus .menu-icon {
  fill: #2196f3;
}

.menu-button {
  cursor: pointer;
  padding: 0;
  border: 0;
  width: 40px;
  height: 40px;
  background-color: #fff;
}

.menu-button--open {
  position: absolute;
  top: 10px;
  right: 15px;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.header-social {
  margin-top: 64px;
}

.header-social__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}

@media screen and (min-width: 768px) {
  .header-social {
    display: none;
  }
}

.header-social__item {
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.header-social__item:first-child {
  padding-left: 0;
  border-left: 0;
}

.header-social__item:last-child {
  padding-right: 0;
}

.header-social__link {
  color: #2196f3;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-social__link:hover, .header-social__link:focus {
  color: #188ce8;
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #212121;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  font-family: Raleway, sans-serif;
}

.logo__blue-text {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.order-service {
  color: #ffffff;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .order-service {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.order-service__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .order-service__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.overlay {
  display: block;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero_mobile.jpg);
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_mobile.jpg);
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 480px;
  width: 100%;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-size: cover;
    background-image: url(../images/hero_mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    max-width: 768px;
    background-image: url(../images/hero_tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-size: cover;
    background-image: url(../images/hero_tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    background-image: url(../images/hero_desktop.jpg);
    height: 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-size: cover;
    background-image: url(../images/hero_desktop@2x.jpg);
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features {
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.features__list {
  list-style-type: none;
  display: block;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f4fa;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__subtitle {
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features__subtitle {
    text-align: start;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
}

.features__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item:nth-child(n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features__item:first-child {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item:nth-child(2n + 1) {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item {
    width: calc((100% - 30px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 3 * 30px) / 4);
    margin-left: 30px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1200px) {
  .activities {
    display: none;
  }
}

.activities__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activities__image {
  display: block;
}

.activities__description {
  display: inline-block;
  position: absolute;
  padding-top: 27px;
  padding-bottom: 27px;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.activities__subtitle {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.activities__item {
  display: block;
  position: relative;
  margin-left: 30px;
}

.activities__item:first-child {
  margin-left: 0;
}

.team {
  background-color: #f5f4fa;
}

.team__list {
  list-style-type: none;
  display: block;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team__image {
  margin-bottom: 30px;
  display: block;
  width: 100%;
}

.team__subtitle {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
}

.team__social-list {
  margin-top: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__item {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  text-align: center;
}

.team__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item:nth-child(n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__item:first-child {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item:nth-child(2n + 1) {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: calc((100% - 30px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 3 * 30px) / 4);
    margin-left: 30px;
    margin-bottom: 0;
  }
}

.standing-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

.standing-clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc((100% - 30px) / 2);
  height: 92px;
  border-radius: 4px;
  margin-left: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .standing-clients__item:nth-child(2n + 1) {
    margin-left: 0;
  }
}

.standing-clients__item:nth-child(n + 5) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .standing-clients__item:nth-child(n + 4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .standing-clients__item:nth-child(3n + 1) {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .standing-clients__item:first-child {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .standing-clients__item {
    width: calc((100% - 2 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .standing-clients__item {
    margin-left: 30px;
    margin-bottom: 0;
    width: calc((100% - 5 * 30px) / 6);
  }
}

.standing-clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.standing-clients__link:hover, .standing-clients__link:focus {
  border: 1px solid #2196f3;
}

.standing-clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.standing-clients__link:hover .standing-clients__icon,
.standing-clients__link:focus .standing-clients__icon {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
}

.footer__container {
  display: block;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    padding-left: 76px;
    padding-right: 89px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

/* Адрес в футере */
.address {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.address__list {
  list-style-type: none;
}

.address__logo {
  margin-bottom: 20px;
  color: #ffffff;
}

.address__item {
  margin-top: 9px;
}

.address__item:first-child {
  margin-top: 0;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

/* Соцсети в футере */
.social-container {
  margin-top: 60px;
}

.social-container__title {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social-container__social-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social-container {
    margin-top: 5px;
    margin-left: 179px;
  }
}

@media screen and (min-width: 1200px) {
  .social-container {
    margin-left: 70px;
    padding-top: 12px;
    margin-top: 0;
  }
}

/* Подпишитесь в футере */
.subscribe {
  margin-top: 60px;
}

.subscribe__title {
  display: block;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe__input-container {
  position: relative;
  display: block;
}

@media screen and (min-width: 1200px) {
  .subscribe__input-container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.subscribe__action-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .subscribe__action-button {
    margin-left: 12px;
    margin-top: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe {
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
    padding-top: 12px;
    margin-top: 0;
  }
}

.subscribe__input {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  border-radius: 4px;
  padding: 15px 16px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__input:focus {
  border-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}

.subscribe__label {
  position: absolute;
  left: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.3);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__input:focus + .subscribe__label {
  -webkit-transform: translateY(-45px);
          transform: translateY(-45px);
  color: #2196f3;
}

.subscribe__input:not(:placeholder-shown) + .subscribe__label {
  -webkit-transform: translateY(-45px);
          transform: translateY(-45px);
}

.buttons-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 60px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .buttons-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .buttons-list {
    margin-top: 94px;
    margin-bottom: 50px;
  }
}

.buttons-list__item {
  margin-left: 8px;
}

@media screen and (max-width: 767px) {
  .buttons-list__item:nth-child(3n + 1) {
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .buttons-list__item:nth-child(n + 4) {
    margin-top: 15px;
  }
}

.buttons-list__button {
  min-width: 50px;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0px;
  background-color: #f5f4fa;
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-list__button:hover, .buttons-list__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}

.cards-list {
  list-style-type: none;
  display: block;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .cards-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .cards-list {
    margin-bottom: 94px;
  }
}

.cards-list__image {
  display: block;
  width: 100%;
}

.cards-list__border {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.cards-list__title {
  margin-bottom: 4px;
  padding-top: 20px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cards-list__text {
  font-size: 16px;
  line-height: 1.87;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .tablet-border {
    padding-bottom: 56px;
  }
}

.cards-list__item {
  margin-bottom: 30px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-list__item:hover, .cards-list__item:focus {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-list__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cards-list__item:nth-child(2n + 1) {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .cards-list__item:nth-child(3n + 1) {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .cards-list__item:nth-child(n + 6) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .cards-list__item {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cards-list__item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .cards-list__item {
    width: calc((100% - 2 * 30px) / 3);
  }
}

.cards-list__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.cards-list__overlay::before {
  position: absolute;
  display: inline-block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(110%);
          transform: translateY(110%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-list__item:hover .cards-list__overlay::before,
.cards-list__item:focus .cards-list__overlay::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cards-list__description {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.55;
  display: inline-block;
  padding-left: 24px;
  padding-right: 24px;
  position: absolute;
  -webkit-transform: translateY(180%);
          transform: translateY(180%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-list__item:hover .cards-list__description,
.cards-list__item:focus .cards-list__description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  width: 450px;
  height: 609px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__title {
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  color: #212121;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal__input-container {
  position: relative;
  margin-bottom: 10px;
  margin-top: 4px;
}

.modal__form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__action-button {
  margin-left: auto;
  margin-right: auto;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus + .modal__icon {
  fill: #2196f3;
}

.modal__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 42px;
  width: 370px;
  outline: none;
  font-size: 14px;
  line-height: 1.12;
  letter-spacing: 0.01em;
  color: #212121;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus {
  border-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .modal__input {
    width: 448px;
  }
}

.modal__textarea {
  resize: none;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  line-height: 1.12;
  letter-spacing: 0.01em;
  color: #212121;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea:focus {
  border-color: #2196f3;
}

.modal__textarea::-webkit-input-placeholder {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.12;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea:-ms-input-placeholder {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.12;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea::-ms-input-placeholder {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.12;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea::placeholder {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.12;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.conditions {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.conditions__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.conditions__text {
  margin-left: 5px;
  font-size: 12px;
  line-height: 1.16;
}

@media screen and (min-width: 1200px) {
  .conditions__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.conditions__check {
  width: 16px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.conditions__checkbox:checked ~ .conditions__check {
  opacity: 1;
}

@media screen and (min-width: 1200px) {
  .conditions__check {
    left: 12px;
  }
}

.conditions__notcheck {
  width: 16px;
  height: 15px;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.conditions__checkbox:checked + .conditions__notcheck {
  opacity: 0;
}

.conditions__link {
  display: inline-block;
  color: #2196f3;
  margin-left: 3px;
  font-size: 12px;
  line-height: 1.16;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.conditions__link:hover, .conditions__link:focus {
  color: #188ce8;
}

@media screen and (min-width: 1200px) {
  .conditions__link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.closer-button__image {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #000;
}

.closer-button:hover .closer-button__image,
.closer-button:focus .closer-button__image {
  fill: #2196f3;
}

.closer-button {
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.closer-button:hover, .closer-button:focus {
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */