.activities {
  @media screen and (max-width: 1200px) {
    display: none;
  }

  &__list {
    list-style-type: none;
    display: flex;
  }

  &__image {
    display: block;
  }

  &__description {
    display: inline-block;
    position: absolute;
    padding-top: 27px;
    padding-bottom: 27px;

    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  }

  &__subtitle {
    color: $white-text-color;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
  }
}

.activities__item {
  display: block;
  position: relative;
  margin-left: 30px;

  &:first-child {
    margin-left: 0;
  }
}
