// .page-header {
//   border-bottom: 1px solid #ececec;

//   &__container {
//     display: block;
//     align-items: center;
//     justify-content: space-between;
//   }

//   &__nav-links {
//     list-style-type: none;
//     display: flex;
//     margin-left: 93px;
//     padding-top: 32px;
//     padding-bottom: 32px;
//   }

//   &__nav-container {
//     display: flex;
//     align-items: center;
//   }
//   &__address {
//     list-style-type: none;
//     display: flex;
//   }
// }

// .page-header__link {
//   color: $header-color;
//   padding-top: 32px;
//   padding-bottom: 32px;

//   text-decoration: none;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: $accent-color;
//   }
// }

// .page-header__link--active {
//   position: relative;
//   color: $accent-color;

//   &::after {
//     position: absolute;
//     display: block;
//     content: "";

//     bottom: -1px;
//     width: 100%;
//     height: 4px;
//     border-radius: 2px;
//     background-color: $accent-color;
//   }
// }

// .page-header__item {
//   margin-left: 50px;

//   &:first-child {
//     margin-left: 0;
//   }
// }

// .page-header__icon {
//   fill: #757575;
//   margin-right: 10px;

//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   .page-header__link--gray:hover &,
//   .page-header__link--gray:focus & {
//     fill: $accent-color;
//   }
// }

// .page-header__link--gray {
//   display: flex;
//   align-items: center;

//   color: #757575;

//   &:hover,
//   &:focus {
//     color: $accent-color;
//   }
// }

@import "./logo";
